@{
    ViewBag.Title = "display";
}
<!DOCTYPE html>
<img id="map" src="~/Image/export-map-share.png" style="height:100%;width:100%;border-width:0px;" />
<canvas id="myCanvas" width="180" height="360" />
<html>
<head>
    <link rel="stylesheet" type="text/css" href="Content/Style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />


</head>
<body>
    <script>
        var interval = 1000 / @Session["refreshRate"]
        myTimer = (function () {
            var img = document.getElementById("map");
            var cnvs = document.getElementById("myCanvas");
            cnvs.style.position = "absolute";
            cnvs.style.left = img.offsetLeft + "px";
            cnvs.style.top = img.offsetTop + "px";
            var ctx = cnvs.getContext("2d");
            ctx.beginPath();
            $.post("@Url.Action("getData", "Main")").done(function (xml) {
                var xmlDoc = $.parseXML(xml);
                $xml = $(xmlDoc);       
                //document.getElementById("location").style.cx = $xml.find("lat").text();
                //document.getElementById("location").style.cy = $xml.find("lon").text();
                ctx.arc("800", "200", 4, 0, 4 * Math.PI);
                ctx.strokeStyle = "blue";
                ctx.fillStyle = 'red';
                ctx.fill();
                ctx.stroke();

            });
        });
        if (@Session["refresh"]==1) {
            setInterval(myTimer, interval);
        } else {
            myTimer.call();
        }


    </script>
</body>
</html>
